@import "./variables.scss";

.body {
    position: fixed;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.logo {
    margin: 40px auto;
    text-align: center;
}

.content {
    background-color: $white;
    border-radius: 50px;
    padding-top: 20px;
    text-align: center;
    color: $text-light !important;
}

.content h1 {
    text-align: center;
    padding: 30px 0 ;
    font-size: 32px !important;
}

.textInput {
    background-color: $grey-200;
    display: block;
    border-radius: 50px;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    margin: 20px auto;
    outline: none;
    color: #888888;
    transition: color .1s ease-in-out, background-color .1s ease-in-out, scale .1s ease-in-out;
}

.textInput:hover,
.textInput:focus {
    background-color: $grey-300;
    color: #212121;
}

.recoveryLink {
    color: $text-light !important;
    text-decoration: none !important;
    display: inline-block;
    margin-bottom: 15px;;
    transition: color .2s ease-in-out;
}

.button {
    background-color: $accent;
    color: $white;
    padding: 8px 30px;
    font-size: 18px;
    border-radius: 50px;
    border: none;
    margin-bottom: 15px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
}

.button:disabled {
    background-color: #a5a5ff;
}

.registerLink {
    display: inline-block;
    margin-bottom: 35px;
    transition: color .2s ease-in-out;
    color: $text-light !important;
}
.recoveryLink:hover ,
.registerLink:hover {
    color: $accent !important;
}
.invalidInputBox {
    text-align: left !important;
    padding: 5px;
    margin-top: -20px;
    color: #ff9494;
}

.errorBorder {
    background: #A9715555;
}

.errorBox {
    margin-bottom: 10px;
    color: #ff9494;
}