@import "./variables.scss";

.button {
  background-color: $accent;
  color: $white;
  padding: 10px 30px 10px;
  font-size: 20px;
  border-radius: 50px;
  border: none;
  margin-bottom: 15px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  height: 54px;
}

.secondButton {
  background-color: $grey-300;
  color: $white;
  font-size: 20px;
  border-radius: 100px;
  border: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15))
}
.recycleBinButton {
  width: 54px;
  height: 54px;
  text-align: center !important;

  .trashCanIcon {
    height: 25px;
    margin-top: -3px;
    justify-self: center;
    align-self: center;
  }
}

.navBar {
  background-color: $accent;
  padding: 5px 50px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  .dropdown > a {
    //margin-right: 30px;
    color: white !important;
  }

  .navText {
    width: 107px;
    color: $grey-300;
  }
}
.secondNavBar {
  padding-top: 10px !important;

  .dropdown > a {
    width: 60px;
    color: black !important;
  }
}

.navBar,
.secondNavBar {

  .navLogo {
    a {
      text-decoration: none;
    }

    width: 100%;
  }

  .profileBox {
    background-color: $grey-300;
    border-radius: 100px;
    padding: 0 0 0 20px !important;
    display: flex;
    align-items: center;
    width: fit-content;
    transition: background-color ease-in-out .2s;
  }

  .profileBox:hover {
    background-color: $grey-400;
  }

  .profileImage {
    width: 40px;
    border-radius: 100px;
    margin-left: 20px;
  }
  .profileName {
    color: $accent;
  }
}

.content {
  background-color: $white;
  padding: 20px;
  border-radius: 50px;
  .title {
    font-weight: 300;
  }
  .subtitle {
    margin-top: -8px;
    font-weight: 300;
  }
}

.remindersBox {
  padding: 20px 40px;

  .header {
    display: flex;
  }

  @media(min-width: 768px) {
    padding: 40px 100px;

    .subtitle {
      font-size: 1.5rem;
    }
  }
}

.noRemindersContent {
  .title {
    margin-top: 20px;
  }
}
